.todo{
    min-height: 0px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-image: url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.todo-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 10px;
    gap: 10px;
}

.todo-content-item{
    width: 100%;
    min-height: 70px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}
h1 {
    color: white;
}

label {
    color: white;
    font-size: 18px;
    padding-bottom: 5px;
}

.todo-content-item.highlight{
    background-color: #acff4b;
}
.todo-content-item p.highlight{
    text-decoration: line-through;
}

.todo-input-block {
    padding: 10px 20px;
    padding-bottom: 30px;
}

.todo-title{
    text-align: center;
    padding: 10px 20px;
}

input#todo-input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

.todo-content-item p {
    margin: 0;
    width: 100%
}

button.btn.btn-primary.todo-remove-button {
    border-radius: 50%;
    background-color: #e16f85;
    border: none;
    font-weight: 700;
}
button.btn.btn-primary.todo-remove-button:hover {
    background-color: #de1138;
}

button.btn.btn-primary.todo-highlight-button {
    border-radius: 50%;
    background-color: #6fe17a;
    border: none;
    font-weight: 700;
    margin-right: 5px;
}
button.btn.btn-primary.todo-highlight-button:hover {
    background-color: #18de11;
}
